<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:fblood="http://fblood.org/schema/fblood"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://fblood.org/schema/fblood http://fblood.org/schema/fblood/fblood.xsd">

    <context:annotation-config />

    <!-- 声明一个zookeeper实例 -->
    <fblood:zookeeper id="fbloodZk" address="192.168.30.110:2181"/>

    <!-- application标识一个fblood应用，该名称应该具有全局（同一个zookeeper集群）唯一性 -->
    <fblood:application id="fbloodTestApp" zk="fbloodZk"/>


    <!-- spring配置声明bean -->
    <bean id="helloService" class="org.fblood.demo.server.service.HelloServiceImpl"/>
    <bean id="userService" class="org.fblood.demo.server.service.UserServiceImpl"/>

    <!-- 服务提供者声明 id缺省为ref  实际在spring环境中一个provider对应一个bean，该bean的name为 application id+ "-" + 提供者id. 如 fbloodTestApp-helloService -->
    <fblood:provider app="fbloodTestApp" ref="helloService" port="9968"/>
    <fblood:provider id="userService" app="fbloodTestApp" ref="userService" port="9969"/>


</beans>