<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:fblood="http://fblood.org/schema/fblood"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://fblood.org/schema/fblood http://fblood.org/schema/fblood/fblood.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

    <context:annotation-config />

    <fblood:zookeeper id="fbloodZk" address="192.168.30.110:2181"/>

    <fblood:application id="fbloodTestApp" zk="fbloodZk"/>



    <bean id="helloService" class="org.fblood.demo.server.service.HelloServiceImpl"/>
    <bean id="userService" class="org.fblood.demo.server.service.UserServiceImpl"/>

    <fblood:provider app="fbloodTestApp" ref="helloService" port="9968"/>
    <fblood:provider id="userService" app="fbloodTestApp" ref="userService" port="9969"/>


</beans>